black
bumpversion
click
click-log
coverage
cython
cyvcf2
flake8
matplotlib
mypy
numpy
ordered-set
pandas
pathos
pydoc-markdown
pylint
pyranges
pysam
pytest
pytest-cov
sphinx
sphinx-rtd-theme
tox
tqdm
twine
wheel
intervaltree
