requirements.txtblack
bumpversion
click
click-log
coverage
cython
flake8
matplotlib
mypy
numpy
ordered-set
pandas
pathos
pydoc-markdown
pylint
pysam
pytest
pytest-cov
pytest-skip-slow
sphinx
sphinx-rtd-theme
tox
tqdm
twine
wheel
